[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
pandas = "*"
h5py = "*"
pillow = "*"
matplotlib = "*"
scipy = "*"
toolz = "*"
pytables = "*"
snakeviz = "*"
scikit-image = "*"
dask = "*"
distributed = "*"

[requires]
python_version = "3.6"
